:root {
    --primary: #46166B;
    --secondary: #46166B;
    --black: #000000;
    --white: #ffffff;

    --component: rgba(0, 0, 0, 0.5);
}

/* Changed sidenav background-color */
.sidenav {
    background-color: var(--primary);
}

/* Commented off this line of code, It's not needed again. */
/* #navLinks {
    border-left: none;
    padding: 0;
    margin-right: 2vw;
    padding-bottom: 3vh;
} */


/* Media Query for Medium Devices */
@media screen and (max-width: 992px) and (min-width: 640px) {


    /* Changed mobile sidenav list icon from id -> class and it's styling */
    .material-icons.sideNavIcon {
        font-size: 3.5rem;
        color: var(--primary);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        width: 6vw;
        height: 6.5vh;
        line-height: 52px;
    }

    /* Id for mobile sidenav list icon not needed again, it's been changed to class */
    /* #sideNavIcon {
        font-size: 3.5rem;
        color: #7746ff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        width: 6vw;
        height: 6.5vh;
        line-height: 52px;
    } */
}



/* Media Query for Small Devices */
@media screen and (max-width: 640px) {
    /* Centered Client sidenav profile image */
    .mobileNavProImg {
        margin: 0 auto 4vh auto;
    }

    /* Changed and centered the look of client sidenav */
    /* Client sidenav page icons */
    .material-icons.dashLeftBarIcons {
        font-size: 2rem;
        /* color: #D9D9D9; */
        text-align: center;
        margin-left: 0;
    }

    /* Client sidenav page title */
    .dashLeftBarTitle {
        margin-top: -3.5vh;
        margin-bottom: 1vh;
        color: #D9D9D9;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }

    /* Changed mobile sidenav list icon from id -> class and it's styling */
    .material-icons.sideNavIcon {
        font-size: 3.5rem;
        color: var(--primary);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        width: 13vw;
        height: 6.5vh;
    }

    /* Id for mobile sidenav list icon not needed again, it's been changed to class */
    /* #sideNavIcon {
        font-size: 3.5rem;
        color: #7746ff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        width: 13vw;
        height: 6.5vh;
    } */
}