/********************************************Template1 starts here ********************************************/

#Template1 #physiPortPageLogo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    color: #000000;
    margin-top: 3vh;
}

#Template1 #physiTempContactBtn {
    border-radius: 6px;
    width: 130px;
    height: 40px;
    margin-top: 12px;
    text-align: center;
    line-height: 42px;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background: #6750A4;
    color: #FFFFFF;
    border: none;
}
#Template1 #physiTempContactBtn:hover {
    background: #FFFFFF;
    color: #6750A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#Template1 .physiRightImgDiv {
    background: #6750A4;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: rotate(-3.7deg);
    width: 427.62px;
    height: 479.96px;
    position: absolute;
    top: 20vh;
    right: 12vw;
}
#Template1 #physiRightImg {
    position: absolute;
    left: 33px;
    top: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(1.5deg);
}
#Template1 .physiContainerDiv {
    width: 84.5%;
    margin: auto;
    padding-top: 36vh;
}
#Template1 #physiTempNavLinks {
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    border-left: none;
    padding: 0;
    margin-right: 4.5vw;
    color: rgb(34, 34, 34);
    padding-bottom: 3vh;
}
#Template1 #physiTempNavLinks:hover {
    background-color: white;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
}
#Template1 #physiTempNavLinks.active {
    border-bottom: 4px solid rgba(0, 0, 0, 0.91);
    padding: 0 0 3vh 0;
}
#Template1 .physiTempNameTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 0 0 0 0.2vw;
}
#Template1 .physiTempName {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #6750A4;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
#Template1 .physiTempTxt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.8);
}
#Template1 #physiTempBtn {
    background: transparent;
    border: 1px solid #6750A4;
    box-shadow: none;
    color: #6750A4;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    margin-top: 3vh;
}
#Template1 .servicesMainTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 25vh 0 0 0;
}
#Template1 .servicesWhatIdo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 44px;
    color: #6750A4;
    text-align: center;
    margin: 0 0 10vh 0;
}
#Template1 .servicesIconsDiv {
    /* position: absolute; */
    width: 50px;
    height: 50px;
    /* left: 243px;
    top: 940px; */
    border-radius: 50%;
    margin: 0 auto;
    background: #6750A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Template1 .servicesTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.563rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
}
#Template1 .servicesTxt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.7);
}
#Template1 .servicesIcons {
    color: #FFFFFF;
    margin: 1.3vh 0 0 0.7vw;
    font-size: 2.3rem;
}
#Template1 .servicesIcons1 {
    color: #FFFFFF;
    /* margin: 1.3vh 0 0 0.7vw; */
    font-size: 2rem;
}
#Template1 .servicesIcons2 {
    color: #FFFFFF;
    /* margin: 1.3vh 0 0 0.7vw; */
    font-size: 2rem;
}
#Template1 .physiExpContainerDiv, .feedsContainDiv {
    width: 84.5%;
    margin: auto;
}
#Template1 .expMainTitle, .feedsMainTitle { 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 9vh 0 0 0;
}
#Template1 .expMainTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.25rem;
    line-height: 44px;
    color: #6750A4;
    text-align: center;
    margin: 0 0 10vh 0;
}
#Template1 .expLeftBarDiv {
    background: #6750A4;
    border-radius: 10px;
    padding: 3vh 1.5vw;
}
#Template1 .expLeftBarTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 20px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 0 0 1vh 0;
}
#Template1 .expLeftBarTxt1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 0.875rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 0 0 1.5vh 0;
}
#Template1 .expLeftBarInnerDiv {
    border-bottom: 1px solid rgba(217, 217, 217, 0.65);
}
#Template1 .expLeftBarInnerDiv:last-child {
    border-bottom: none;
}
#Template1 .expLeftBarInnerDiv .expLeftBarTxtDiv {
    padding: 5.7vh 0 3vh;
}
#Template1 #expRightDivImg {
    width: 100%;
    height: 73.5vh;
    border-radius: 10px;
}
#Template1 #feedsTwitterIcon {
    color: #6750A4;
    font-size: 1.3rem;
}
#Template1 .feedsMainTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.25rem;
    line-height: 44px;
    color: #6750A4;
    text-align: center;
    margin: 0 0 1vh 0;
}
#Template1 .feedsTwitterTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 22px;
    color: #938F99;
    margin-left: 0.7vw;
}
#Template1 .feedsCard {
    background: #6750A4;
    border: 1px solid #938F99;
    border-radius: 12px;
    padding: 2vh 0vw;
}
#Template1 .feedsProDiv {
    background: #D0BCFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin-left: 1vw;
}
#Template1 .feedsProImg {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
}
#Template1 .feedsCardHeader {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #E6E1E5;
}
#Template1 .feedsCardSubhead {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #E6E1E5;
}
#Template1 #feedsCardImg {
    width: 100%;
}
#Template1 #feedsCardRowDiv {
    margin-bottom: 0;
}
#Template1 #feedsCardIcon {
    color: #CAC4D0;
    position: relative;
    right: 1vw;
}
#Template1 .feedsCardTxt1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #CAC4D0;
    width: 70%;
    margin-left: 1vw;
    margin-top: 5vh;
}
#Template1 .feedsCardTxt {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #E6E1E5;
    margin-left: 1vw;
}
#Template1 .feedsCardTitle {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #E6E1E5;
    margin-left: 1vw;
}
#Template1 #feedsCardBtn {
    background: transparent;
    box-shadow: none;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    position: relative;
    left: 22vw;
    text-transform: capitalize;
    margin-top: 3vh;
}
#Template1 #feedsFacebookIcon {
    color: #6750A4;
    font-size: 1.2rem;
}
#Template1 .facebookFeedsIcon {
    margin: 5vh 0;
}

/* Testimonials Secion */
#Template1 #testiMapImg {
    background-image: url('../media/img/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    margin-top: 12vh;
}
#Template1 .testiMapDiv {
    background: #6750A4;
    box-shadow: inset 0px 4px 1000px rgba(0, 0, 0, 0.25);
    padding: 1vh 2vw;
}
#Template1 .testiMapProName {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
#Template1 .testiMapTxt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(255, 255, 255, 0.7);
}
#Template1 .testiProImg {
    border-radius: 50%;
    position: relative;
    left: 10vw;
    top: 2.5vh;
    height: 57px;
}
#Template1 #testiSecondImgRowOneDiv {
    position: relative;
    bottom: 9vh;
}
#Template1 #testiSecondImgRowTwoDiv {
    position: relative;
    bottom: 4vh;
}
#Template1 #testiSecondImgRowThreeDiv {
    position: relative;
    top: 7vh;
}
#Template1 .contactContainDiv {
    width: 70%;
    margin: auto;
}
#Template1 #testiLname, #testiFname, #testiEmail, #testiPhone {
    border: 1px solid #6750A4;
    border-radius: 10px;
    padding: 0 1.5vw;
    width: 90%;
}
#Template1 #testiLname::placeholder, #Template1 #testiFname::placeholder,
#Template1 #testiEmail::placeholder, #Template1 #testiPhone::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
}
#Template1 #testiTextarea1 {
    border: 1px solid #6750A4;
    border-radius: 10px;
    width: 99.5%;
    height: 22vh;
    padding: 3vh 1.5vw;
}
#Template1 #testiTextarea1::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
}
#Template1 #testiContactFormTitleDiv {
    margin-bottom: 5vh;
}
#Template1 #testiContactBtn {
    background: #6750A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 97.4%;
    margin-left: 0.7vw;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    height: 5vh;
}
#Template1 #testiContactBtnIcon {
    color: #938F99;
    position: relative;
    top: 0.5vh;
}
#Template1 #tempPublishBtn {
    /* width: 15vw;
    height: 5vh; */
    background-color: #7746FF;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    padding: 1vh 4vw;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
    margin-bottom: 3vh;
}
#Template1 #tempExitBtn {
    /* width: 15vw;
    height: 5vh; */
    background-color: rgb(25, 25, 25);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    padding: 1vh 2.77vw;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
}
#Template1 #tempPubExtDiv {
    position: fixed;
    right: 0;
    bottom: 40vh;
}


/******************************************** Template1 ends here **********************************************/

/******************************************** Template2 starts here ********************************************/

#Template2 #physiPortPageLogo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    color: #000000;
    margin-top: 3vh;
}

#Template2 #physiTempContactBtn {
    border-radius: 6px;
    width: 130px;
    height: 40px;
    margin-top: 12px;
    text-align: center;
    line-height: 42px;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background: #6750A4;
    color: #FFFFFF;
    border: none;
}
#Template2 #physiTempContactBtn:hover {
    background: #FFFFFF;
    color: #6750A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#Template2 .physiRightImgDiv {
    background: #6750A4;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: rotate(-3.7deg);
    width: 427.62px;
    height: 479.96px;
    position: absolute;
    top: 20vh;
    right: 12vw;
}
#Template2 #physiRightImg {
    position: absolute;
    left: 33px;
    top: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(1.5deg);
}
#Template2 .physiContainerDiv {
    width: 84.5%;
    margin: auto;
    padding-top: 36vh;
}
#Template2 #physiTempNavLinks {
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    border-left: none;
    padding: 0;
    margin-right: 4.5vw;
    color: rgb(34, 34, 34);
    padding-bottom: 3vh;
}
#Template2 #physiTempNavLinks:hover {
    background-color: white;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
}
#Template2 #physiTempNavLinks.active {
    border-bottom: 4px solid rgba(0, 0, 0, 0.91);
    padding: 0 0 3vh 0;
}
#Template2 .physiTempNameTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 0 0 0 0.2vw;
}
#Template2 .physiTempName {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #6750A4;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
#Template2 .physiTempTxt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.8);
}
#Template2 #physiTempBtn {
    background: transparent;
    border: 1px solid #6750A4;
    box-shadow: none;
    color: #6750A4;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    margin-top: 3vh;
}
#Template2 .servicesMainTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 25vh 0 0 0;
}
#Template2 .servicesWhatIdo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 44px;
    color: #6750A4;
    text-align: center;
    margin: 0 0 10vh 0;
}
#Template2 .servicesIconsDiv {
    /* position: absolute; */
    width: 50px;
    height: 50px;
    /* left: 243px;
    top: 940px; */
    border-radius: 50%;
    margin: 0 auto;
    background: #6750A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#Template2 .servicesTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.563rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
}
#Template2 .servicesTxt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.7);
}
#Template2 .servicesIcons {
    color: #FFFFFF;
    margin: 1.3vh 0 0 0.7vw;
    font-size: 2.3rem;
}
#Template2 .servicesIcons1 {
    color: #FFFFFF;
    margin: 1.3vh 0 0 0.7vw;
    font-size: 2rem;
}
#Template2 .servicesIcons2 {
    color: #FFFFFF;
    margin: 1.3vh 0 0 0.7vw;
    font-size: 2rem;
}
#Template2 .physiExpContainerDiv, .feedsContainDiv {
    width: 84.5%;
    margin: auto;
}
#Template2 .expMainTitle, .feedsMainTitle { 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 9vh 0 0 0;
}
#Template2 .expMainTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.25rem;
    line-height: 44px;
    color: #6750A4;
    text-align: center;
    margin: 0 0 10vh 0;
}
#Template2 .expLeftBarDiv {
    background: #6750A4;
    border-radius: 10px;
    padding: 9vh 1.5vw 2vh 1.5vw;
}
#Template2 .expLeftBarTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 20px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 0 0 1vh 0;
}
#Template2 .expLeftBarTxt1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 0.875rem;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 0 0 1.5vh 0;
}
#Template2 .expLeftBarInnerDiv {
    border-bottom: 1px solid rgba(217, 217, 217, 0.65);
    margin-bottom: 8vh;
}
#Template2 #expRightDivImg {
    width: 100%;
    height: 73.5vh;
    border-radius: 10px;
}
#Template2 #feedsTwitterIcon {
    color: #6750A4;
    font-size: 1.3rem;
}
#Template2 .feedsMainTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 2.25rem;
    line-height: 44px;
    color: #6750A4;
    text-align: center;
    margin: 0 0 1vh 0;
}
#Template2 .feedsTwitterTxt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 22px;
    color: #938F99;
    margin-left: 0.7vw;
}
#Template2 .feedsCard {
    background: #6750A4;
    border: 1px solid #938F99;
    border-radius: 12px;
    padding: 2vh 0vw;
}
#Template2 .feedsProDiv {
    background: #D0BCFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin-left: 1vw;
}
#Template2 .feedsProImg {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
}
#Template2 .feedsCardHeader {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #E6E1E5;
}
#Template2 .feedsCardSubhead {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #E6E1E5;
}
#Template2 #feedsCardImg {
    width: 100%;
}
#Template2 #feedsCardRowDiv {
    margin-bottom: 0;
}
#Template2 #feedsCardIcon {
    color: #CAC4D0;
    position: relative;
    right: 1vw;
}
#Template2 .feedsCardTxt1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #CAC4D0;
    width: 70%;
    margin-left: 1vw;
    margin-top: 5vh;
}
#Template2 .feedsCardTxt {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #E6E1E5;
    margin-left: 1vw;
}
#Template2 .feedsCardTitle {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #E6E1E5;
    margin-left: 1vw;
}
#Template2 #feedsCardBtn {
    background: transparent;
    box-shadow: none;
    border: 1px solid rgb(126, 125, 125);
    border-radius: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    position: relative;
    left: 22vw;
    text-transform: capitalize;
    margin-top: 3vh;
}
#Template2 #feedsFacebookIcon {
    color: #6750A4;
    font-size: 2.2rem;
}
#Template2 .facebookFeedsIcon {
    margin: 5vh 0;
}

/* Testimonials Secion */
#Template2 #testiMapImg {
    background-image: url('../media/img/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    margin-top: 12vh;
}
#Template2 .testiMapDiv {
    background: #6750A4;
    box-shadow: inset 0px 4px 1000px rgba(0, 0, 0, 0.25);
    padding: 1vh 2vw;
}
#Template2 .testiMapProName {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
#Template2 .testiMapTxt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(255, 255, 255, 0.7);
}
#Template2 .testiProImg {
    border-radius: 50%;
    position: relative;
    left: 10vw;
    top: 2.5vh;
    height: 57px;
}
#Template2 #testiSecondImgRowOneDiv {
    position: relative;
    bottom: 9vh;
}
#Template2 #testiSecondImgRowTwoDiv {
    position: relative;
    bottom: 4vh;
}
#Template2 #testiSecondImgRowThreeDiv {
    position: relative;
    top: 7vh;
}
#Template2 .contactContainDiv {
    width: 70%;
    margin: auto;
}
#Template2 #testiLname, #testiFname, #testiEmail, #testiPhone {
    border: 1px solid #6750A4;
    border-radius: 10px;
    padding: 0 1.5vw;
    width: 90%;
}
#Template2 #testiLname::placeholder, #Template2 #testiFname::placeholder,
#Template2 #testiEmail::placeholder, #Template2 #testiPhone::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
}
#Template2 #testiTextarea1 {
    border: 1px solid #6750A4;
    border-radius: 10px;
    width: 99.5%;
    height: 22vh;
    padding: 3vh 1.5vw;
}
#Template2 #testiTextarea1::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
}
#Template2 #testiContactFormTitleDiv {
    margin-bottom: 5vh;
}
#Template2 #testiContactBtn {
    background: #6750A4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 97.4%;
    margin-left: 0.7vw;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    height: 5vh;
}
#Template2 #testiContactBtnIcon {
    color: #938F99;
    position: relative;
    top: 0.5vh;
}
#Template2 #tempPublishBtn {
    /* width: 15vw;
    height: 5vh; */
    background-color: #7746FF;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    padding: 1vh 4vw;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
    margin-bottom: 3vh;
}
#Template2 #tempExitBtn {
    /* width: 15vw;
    height: 5vh; */
    background-color: rgb(25, 25, 25);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    padding: 1vh 2.77vw;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-transform: uppercase;
}
#Template2 #tempPubExtDiv {
    position: fixed;
    right: 0;
    bottom: 40vh;
}
.tempReviewOptDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 5px 15px;
    height: 44px;
    box-shadow: #938F99;
}
.tempOneReviewIcon {
    color: #6750A4;
    /* margin: 2vh 0 0 0.7vw; */
    cursor: pointer;
}
.tempOneReviewIcon1 {
    color: #6750A4;
    /* margin: 8vh 0 0 0.7vw; */
    cursor: pointer;
}
.tempOneAddTestiIcon {
    font-size: 4rem;
    font-weight: 900;
    margin: 1vh 0 0 1.5vw;
}
#tempOneAddTestiLname, #tempOneAddTestiFname {
    border: 1px solid #6750A4;
    border-radius: 10px;
    padding: 0 1vw;
}
#tempOneAddTestiReview {
    border: 1px solid #6750A4;
    border-radius: 10px;
    padding: 1vh 1vw;
    width: 39vw;
    height: 15vh;
}
#tempOneTestiSubBtn {
    /* position: relative;
    left: 1.6vw; */
    background: #6750A4;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}
.tempOneModal2Div {
    /* width: 27vw; */
    border-radius: 8px;
    padding: 1.1vh 1vw;
}
.tempOneModal2Txt {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
}
#tempOneModal2Btn {
    background: #6750A4;
    border-radius: 10px;
    text-transform: lowercase;
}
.tempOneModal2BtnDiv {
    display: flex;
    justify-content: center;
}
.tempOneRevDiv {
    width: 90%;
    margin: 0 auto;
    padding: 7vh 0 0 0;
}
.tempOneRevTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: auto;
}
.tempOneRevInnerDiv {
    display: flex;
    margin-top: 13vh;
}
.tempOneRevTime {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5vh;
}
.tempOneRevLoadMore {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
}
.tempOneRevLoadMoreDiv {
    margin-top: 14vh;
    margin-bottom: 10vh;
}


/******************************************** Template1 ends here ********************************************/
.modal-trigger {
    text-decoration: none;
    color: #000000;
}

.modal-trigger:hover {
    color: #7746FF;
    text-decoration: underline;
}
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}
input[type="file"]::before {
    content: url("/media/img/pen.png");
    display: inline-block;
    border: none;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
}
input[type="file"]:hover::before {
    border-color: black;
}
input[type="file"]:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.min-height-40 {
    min-height: 40vh !important;
}

/* MEDIA QUERY STARTS HERE */
/* Media Query on Medium Device */
@media screen and (max-width: 992px) and (min-width: 640px) {
    .physiContainerDiv {
        width: 84.5%;
        margin: auto;
        padding-top: 15vh;
    }
    .physiRightImgDiv {
        background: #6750A4;
        box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        transform: rotate(-3.7deg);
        width: 350px;
        height: 370px;
        position: absolute;
        right: 8vw;
    }
    #tempPublishBtn {
        /* width: 15vw;
        height: 5vh; */
        background-color: #7746FF;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 20px;
        padding: 1vh 4.8vw;
        border-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        text-transform: uppercase;
        margin-bottom: 3vh;
    }
    .temp_mg_bm {
        margin-bottom: 6vh;
    }
    #physiTempContactBtn {
        border-radius: 6px;
        width: 160px;
        height: 40px;
        margin-top: 12px;
        text-align: center;
        line-height: 42px;
        font-weight: 600;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        background: #FFFFFF;
        color: #6750A4;
        border: none;
        margin-left: 2vw;
    }
    #physiTempNavLinks {
        font-weight: 600;
        font-size: 1.1rem;
        font-family: 'Montserrat', sans-serif;
        border-left: none;
        padding: 0;
        margin-right: 0vw;
        margin-left: 2vw;
        color: #FFFFFF;
        padding-bottom: 3vh;
    }
    .sideNavIcon {
        color: #6750A4;
    }
    #feedsCardBtn {
        background: transparent;
        box-shadow: none;
        border: 1px solid rgb(126, 125, 125);
        border-radius: 100px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 20px;
        letter-spacing: 0.1px;
        position: relative;
        left: 32vw;
        text-transform: capitalize;
        margin-top: 3vh;
    }
        
}

/* Media Query on small device */
@media screen and (max-width: 640px) {
    .physiRightImgDiv {
        background: #6750A4;
        box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        transform: rotate(-3.7deg);
        width: 350px;
        height: 370px;
        position: absolute;
        top: 86vh;
        right: 10vw;
    }
    #physiRightImg {
        position: absolute;
        left: 33px;
        top: 30px;
        border-radius: 10px;
        box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
        transform: rotate(1.5deg);
        width: 95%;
    }
    .physiContainerDiv {
        width: 84.5%;
        margin: auto;
        padding-top: 9vh;
    }
    .servicesMainTitle {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 20px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.1px;
        color: #000000;
        margin: 77vh 0 0 0;
    }
    .physiTempName {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 35px;
        letter-spacing: 0.1px;
        color: #6750A4;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    .physiExpContainerDiv,
    .feedsContainDiv {
        width: 99%;
        margin: auto;
    }
    .expLeftBarDiv {
        background: #6750A4;
        border-radius: 10px;
        padding: 9vh 1.5vw 2vh 1.5vw;
        margin-bottom: 4vh;
    }
    .feedsCard {
        background: #6750A4;
        border: 1px solid #938F99;
        border-radius: 12px;
        padding: 2vh 0vw;
        margin-bottom: 4vh;
    }
    .facebookFeedsIcon {
        margin: 1vh 0 5vh 0;
    }
    .feedsMainTxt {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: lighter;
        font-size: 1.6rem;
        line-height: 44px;
        color: #6750A4;
        text-align: center;
        margin: 0 0 1vh 0;
    }
    .contactContainDiv {
        width: 99%;
        margin: auto;
    }
    #tempPublishBtn {
        /* width: 15vw;
        height: 5vh; */
        background-color: #7746FF;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 20px;
        padding: 1vh 7.4vw;
        border-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        text-transform: uppercase;
        margin-bottom: 3vh;
    }
    #feedsCardBtn {
        background: transparent;
        box-shadow: none;
        border: 1px solid rgb(126, 125, 125);
        border-radius: 100px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 20px;
        letter-spacing: 0.1px;
        position: relative;
        left: 75vw;
        text-transform: capitalize;
        margin-top: 3vh;
    }
    #feedsCardIcon {
        color: #CAC4D0;
        position: relative;
        right: 5vw;
    }
    .testiMapDiv:first-child {
        background: #6750A4;
        box-shadow: inset 0px 4px 1000px rgba(0, 0, 0, 0.25);
        padding: 1vh 2vw;
        margin-bottom: 9vh;
    }
    .temp_mg_bm {
        margin-bottom: 6vh;
    }
    #physiTempContactBtn {
        border-radius: 6px;
        width: 160px;
        height: 40px;
        margin-top: 12px;
        text-align: center;
        line-height: 42px;
        font-weight: 600;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        background: #FFFFFF;
        color: #6750A4;
        border: none;
        margin-left: 2vw;
    }
    #physiTempNavLinks {
        font-weight: 600;
        font-size: 1.1rem;
        font-family: 'Montserrat', sans-serif;
        border-left: none;
        padding: 0;
        margin-right: 0vw;
        margin-left: 2vw;
        color: #FFFFFF;
        padding-bottom: 3vh;
    }
    .sideNavIcon {
        color: #6750A4;
    }
}
