:root {
    --primary: #46166B;
    --secondary: #46166B;
    --black: #000000;
    --white: #ffffff;

    --component: rgba(0, 0, 0, 0.5);
}


/* ******************************************************************************************* */
/* New changes Starts here */

/* Commented off this line of code, It's not needed again. */
/* #webAddCircleIcon {
    color: #7746FF;
    font-size: 2rem;
    position: absolute;
    right: 7vw;
    top: 15vh;
} */

/* Commented off this line of code, It's not needed again. */
/* Made some changes on editWebModalDiv */
/* .editWebModalDiv {
    position: absolute;
    left: 25vw;
    top: 5vh;
    
    width: 70%;
    margin: 0 auto;
} */

/* Made some changes on editWebSidenavImg */
.editWebSidenavImg {
    width: 10vw;
    margin: 3vh 0 0 0;
}


/* Made some changes on editWebiIllustrateMainDiv */
.editWebiIllustrateMainDiv {
    display: flex;
}

/* Made some changes on editWebiIllustrateDiv */
.editWebiIllustrateDiv {
    margin-left: auto;
}

/* Made some changes on editWebWlcTxt */
.editWebWlcTxt {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 37px;
    color: var(--primary);
    margin-top: 6vh;
}

/* Added EditWebNavbar */
.editWebNavbar {
    background-color: var(--primary);
}

/* Added and styled editWebNavbarLogo */
.editWebNavbarLogo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--white);
}

/* Made some changes on editWebSidenavProImgDiv */
.editWebSidenavProImgDiv {
    background: #d9d9d9;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 1.5vh 0 0 0;
}

/* Made some changes on editWebSidenavDomainNameLink */
.editWebSidenavDomainNameLink {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 73px;
    color: var(--white);
    display: flex;
}

/* Added some changes on editWebSidenavDomainNameLink hover */
nav ul .editWebSidenavDomainNameLink:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #e0e0e0;
}

/* Made some changes on editWebSidenavTempIcon */
.editWebSidenavTempIcon {
    font-size: 16px;
    height: 1vh;
    /* color: #ffffff; */
    position: relative;
    top: 0.5vh;
    left: 0.3vw;
}

/* Added editWebIllustrativeImg for edit website settings */
.editWebIllustrativeImg {
    margin-top: 9vh;
}

/* Added editWebIllustrativeImg1 for edit website settings */
.editWebIllustrativeImg1 {
    margin-top: 5vh;
}

/* @media screen and (max-width: 992px) and (min-width: 640px) {    
} */

/* @media screen and (max-width: 640px) {
} */